body{

    margin: 0;
    padding: 0;
    background: url(/night.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.div-login{

    width: 420px;
    margin: 150px auto 0px auto;
    
    
}

.div-login h1{
    text-align: center;
    padding-bottom: 10px;
    margin: 10px;
    font-size: 40px;
    color: rgb(89, 247, 149);
    border-bottom: 4px solid rgb(47, 255, 227);
}




input{
    display: block;
    width: 96%;
    height: 30px;
    border-radius: 30px;
    border: 1px solid white;
    margin: 1%;
    padding: 5px;
    background-color: rgba(255,255,255,0.01);
    color: white;
    outline: none;
    
}

.btn{

    
    height: 40px;
    width: 99%;
    
    font-size: 16px;
    padding: 10px ;
    border-radius: 30px;
    border: 1px solid rgb(94, 247, 140);
    cursor: pointer;
}

::-webkit-input-placeholder{
    color: #fff;
}

.div-login a{

    color: white;
    font-size: 15px;
    text-decoration: none;
    margin-left: 8px;
}